/src/main/resources/secrets.properties

# Default ignored files
/workspace.xml

*.class

# Package Files #
*.jar
*.war
*.ear

#IntelliJ files
**/*.iml
**/.idea
**/.gradle

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*